PINECONE_API_KEY=[TU_PINECONE_KEY]
PINECONE_INDEX_NAME=[TU_INDEX_NAME]
PINECONE_NAMESPACE=rag-assistant-dev
MISTRAL_API_KEY=[TU_MISTRAL_KEY]
MISTRAL_MODEL=mistral-medium-latest
MISTRAL_EMBEDDING_MODEL=mistral-embed
DEFAULT_TOP_K=5
PORT=3000
